<% if(pages > 1){ %>

<nav>
  <ul class="pagination">
    <% if(page > 2){ %>
        <li>
            <a href="/search?q=<%- encoded_query %>&page=<%= page - 1 %>" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
        </li>
    <% } %>

    <% if(page == 2){ %>
        <li>
            <a href="/search?q=<%- encoded_query %>" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
        </li>
    <% } %>

    <% if(page <= 1){ %>
        <li class="disabled">
            <a href="/search?q=<%- encoded_query %>" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
        </li>
    <% } %>

    <% for(var i=0; i<page_list.length; i++){%>

        <% if(page_list[i].disabled) {%>
            <li class="disabled"><a href="javascript:void(0)" >...</a></li>
        <% } %>

        <% if(!page_list[i].disabled) {%>
            <li <% if(page_list[i].active){%> class="active"<%}%>><a href="/search?q=<%- encoded_query %><% if(page_list[i].page != 1){%>&page=<%= page_list[i].page %><%}%>" ><%= page_list[i].page %></a></li>
        <% } %>

    <% } %>


    <% if(page < pages){ %>
        <li>
            <a href="/search?q=<%- encoded_query %>&page=<%= page + 1 %>" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
        </li>
    <% } %>

    <% if(page >= pages){ %>
        <li class="disabled">
            <a href="/search?q=<%- encoded_query %>&page=<%= pages %>" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
        </li>
    <% } %>
  </ul>
</nav>

<% } %>