<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:atom="http://www.w3.org/2005/Atom"
    xmlns:media="http://search.yahoo.com/mrss/"
    >
<channel>
    <title><![CDATA[<%= title %> → <%= query %>]]></title>
    <atom:link href="http://<%= domain %>/search.rss?q=<%= encoded_query %>" rel="self" type="application/rss+xml" />
    <link><![CDATA[http://<%= domain %>/search.rss?q=<%= encoded_query %>]]></link>
    <description><![CDATA[Otsingutulemused Eesti meediaväljaannetest]]></description>
    <pubDate><![CDATA[<%= pub_date %>]]></pubDate>


    <% results.forEach(function(result){ %>

        <item>
        <guid isPermaLink="true"><![CDATA[<%- result.url %>]]></guid>
        <title><![CDATA[<%- (result.title || "").replace(/<[^>]+>/g, "") %>]]></title>
        <link><![CDATA[<%- result.url %>]]></link>
        <pubDate><![CDATA[<%= result.found %>]]></pubDate>
        
        <author><![CDATA[<%= result.author || result.site %>]]></author>

        <% if(!result.image){%>
        <description><![CDATA[<%- fulltext?result.html:result.content %>]]></description>
        <%}%>

        <% if(result.image){%>

        <description><![CDATA[<p><img src="<%= result.image %>" width="175"/></p><%- fulltext?result.html:result.content %>]]></description>
        <media:group>
            <media:content url="<%= result.image %>" />
        </media:group>

        <%}%>

        </item>

    <% }) %>

</channel></rss>